@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 350px;
  height: 100vh;
  padding: 30px;
  background-color: #fff;
  z-index: 1;
  animation: slide-out 0.2s forwards;
  border-right: 1px solid #edf2f7;
}

@keyframes slide-out {
  100% {
    left: 0;
  }
}
